img	{
	width: 30%;
	float: left;
	margin: 1.66%;
}

p	{
	font-family: Raleway Dots;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 5px solid ;
	width: 30%;
	border-color: #f1f1f1;
	padding-bottom: 20px; 
}